@using Dignite.Cms.Public.Entries
@using System.Text.Json;
@using Dignite.Abp.DynamicForms;
@using Dignite.FileExplorer.Files;
@model EntryDto
@{
    PageLayout.Content.Title = Model.Title;
}

<cms-entry-list section="Section" language="@Model.Language" partial-name="cms/aboutus-nav" result-count="100"></cms-entry-list>
<div class="p-5">
    <h1 class="mb-5 text-center fw-bold">
        @Model.Title
    </h1>
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <div class="content">
                @Html.Raw(Model.GetField<string>("content", null))
            </div>
        </div>
    </div>
</div>
