@using Dignite.Cms.Public.Entries
@using System.Text.Json;
@using Dignite.Abp.DynamicForms;
@using Dignite.FileExplorer.Files;
@model EntryDto
@{
    PageLayout.Content.Title = Model.Title;
}
<h1 class="fw-bold mt-5 mb-3">
    如何联系荣欣
</h1>
<p class="mb-5">山东省临沂市兰山区大阳路535号</p>
<div class="row mb-5">
    <div class="col-8">
        <div class="row gx-5">
            <div class="col-6 mb-5">
                <h4 class="fw-light lh-lg">
                    销售事业部
                </h4>
                <address class="fw-light lh-lg">
                    Email：matthew@sdrx.top
                </address>
            </div>

        </div>
    </div>
    <div class="col-4">
    </div>
</div>

<!--调用百度API-->

<div id="allmap" class="map"></div>
@section scripts
{
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=67jMQ5DmYTe1TLMBKFUTcZAR"></script>
    <script type="text/javascript">
        $(function () {
            ShowMap('118.22343,35.124606', '山东荣欣塑业有限公司', '山东省临沂市兰山区大阳路535号 ', '', '', '18');
        });
        function ShowMap(zuobiao, name, addrsee, phone, chuanzhen, zoom) {
            var arrzuobiao = zuobiao.split(',');
            var map = new BMap.Map("allmap");
            map.centerAndZoom(new BMap.Point(arrzuobiao[0], arrzuobiao[1]), zoom);
            map.addControl(new BMap.NavigationControl());
            var marker = new BMap.Marker(new BMap.Point(arrzuobiao[0], arrzuobiao[1]));
            map.addOverlay(marker);
            var infoWindow = new BMap.InfoWindow('<p style="color: #bf0008;">' + name + '</p><p>地址：' + addrsee + '</p><p>电话：' + phone + '</p>');
            marker.addEventListener("click", function () {
                this.openInfoWindow(infoWindow);
            });
            marker.openInfoWindow(infoWindow);
        }
    </script>
}