@using Dignite.Cms.Public.Entries
@model EntryDto
@{
    PageLayout.Content.Title = "山东荣欣塑业有限公司";
}

<div class="row g-0">
    <div class="col-6 bg-black bg-opacity-10">
        <div class="d-flex justify-content-center mt-5">
            <div class="col-12 col-md-8 mt-5">
                <h1 class="fw-bold mb-3">
                    百余种产品
                </h1>
                <p class="mb-5 lh-base">
                    主要有塑料托盘系列、吹塑托盘系列、防渗漏托盘系列、塑料卡板箱系列、塑料周转筐系列、塑料周转箱系列、塑料零件盒系列等
                </p>
                <a href="~/@Model.Language/products" class="btn btn-outline-dark border-3 rounded-pill px-5 py-2" tabindex="-1" role="button" aria-disabled="true">查看所有产品</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <img src="/sdrx/product-category-xuanchuan.jpg" class="img-fluid" alt="产品系列" />
    </div>
</div>


<div class="pt-5 mt-5 mb-5 pb-5">
    <h4 class="fw-semibold mb-3">合伙客户</h4>
    <div id="carousel-huoban" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-1.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-2.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-3.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-4.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-5.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-6.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-7.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-8.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-9.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-10.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-11.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="bg-secondary bg-opacity-10 p-5">
                            <img src="/sdrx/brands/brand-12.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev rounded-circle" type="button" data-bs-target="#carousel-huoban" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next rounded-circle" type="button" data-bs-target="#carousel-huoban" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div id="gongsi-jieshao" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#gongsi-jieshao" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#gongsi-jieshao" data-bs-slide-to="1" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#gongsi-jieshao" data-bs-slide-to="2" aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/sdrx/digtal-bg.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption text-center text-white top-50 start-50 end-0 translate-middle p-0">
                <h1 class="fw-bold mb-3">
                    拥有车间7000+平
                </h1>
                <p class="mb-5 fs-5 lh-base">
                    拥有多条生产线以及20余台有行业竞争优势的设备
                </p>
                <a href="~/@Model.Language/about-us/production-capacity" class="btn btn-outline-light border-3 rounded-pill px-5 py-2" tabindex="-1" role="button" aria-disabled="true">了解生产能力</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/sdrx/digtal-bg-2.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption text-center text-white top-50 start-50 end-0 translate-middle p-0">
                <h1 class="fw-bold mb-3">
                    产品符合环保要求
                </h1>
                <p class="mb-5 fs-5 lh-base">
                    技术指标达到<span class="text-decoration-underline">GB/T15234-94</span>国家标准和企业标准
                </p>
                <button type="button" class="btn btn-outline-light border-3 rounded-pill px-5 py-2">
                    
                </button>
                <a href="~/@Model.Language/about-us/introduction" class="btn btn-outline-light border-3 rounded-pill px-5 py-2" tabindex="-1" role="button" aria-disabled="true">了解公司实力</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/sdrx/digtal-bg-3.jpg" class="img-fluid" alt="...">
            <div class="carousel-caption text-center text-white top-50 start-50 end-0 translate-middle p-0">
                <h1 class="fw-bold mb-3">
                    庞大的仓储能力
                </h1>
                <p class="mb-5 fs-5 lh-base">
                    与国内多家大型物流合作，现货当天发货，定制3天交货
                </p>
                <a href="~/@Model.Language/about-us/production-capacity" class="btn btn-outline-light border-3 rounded-pill px-5 py-2" tabindex="-1" role="button" aria-disabled="true">了解生产能力</a>
            </div>
        </div>
    </div>
</div>


<div class="pt-5 mt-5 mb-5 pb-5">
    <div class="d-flex justify-content-between mb-4">
        <h4 class="fw-semibold">公司动态</h4>
        <a href="~/@Model.Language/news" class="btn btn-sm btn-outline-dark border-3 rounded-pill px-3" tabindex="-1" role="button" aria-disabled="true">查看所有动态</a>
    </div>
    <cms-entry-list site-id="Section.SiteId" section-name="news-list" result-count="3" language="@Model.Language" partial-name="cms/News-Top"></cms-entry-list>
    
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card mb-3 p-3">
            <a href="~/@Model.Language/products" class="link-dark">
            <div class="row g-0 bg-secondary bg-opacity-10">
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title fw-semibold">了解产品</h4>
                        <p class="card-text text-secondary">专注为客户提供更优质的产品</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/sdrx/d-product.jpg" class="img-fluid rounded-0 image-clip" alt="...">
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-3 p-3">
            <a href="https://rongxintuopan.1688.com/page/index.html" class="link-dark">
            <div class="row g-0 bg-secondary bg-opacity-10">
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title fw-semibold">在线订购</h4>
                        <p class="card-text text-secondary">欢迎到1688旗舰店内订购产品</p>                        
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/sdrx/d-1688.jpg" class="img-fluid rounded-0 image-clip" alt="...">
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card mb-3 p-3">
            <a href="~/@Model.Language/contact" class="link-dark">
            <div class="row g-0 bg-secondary bg-opacity-10">
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title fw-semibold">联系我们</h4>
                        <p class="card-text text-secondary">聆听来自产品幕后专家的意见</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/sdrx/d-kefu.jpg" class="img-fluid rounded-0 image-clip" alt="...">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>