@using Dignite.Cms.Public.Entries
@model EntryDto
@{
    PageLayout.Content.Title = "荣欣的新闻、动态、通知";
}

<h1 class="my-5 fw-semibold">
    荣欣的新闻、动态、通知
</h1>

<cms-entry-list site-id="Section.SiteId" section-name="news-list" result-count="30" language="@Model.Language" partial-name="cms/News-List"></cms-entry-list>