@font-face {
    font-display: swap;
    font-family: Albra;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/albra.woff2) format('woff2'),url(fonts/albra.woff) format('woff')
}
@font-face {
    font-display: swap;
    font-family: SawarabiMincho-Regular;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/SawarabiMincho-Regular.woff2) format('woff2'),url(fonts/SawarabiMincho-Regular.woff) format('woff')
}
body.abp-public-layout > .container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
}
:root {
    --bs-link-color: rgba(0,50,200,1);
    --bs-link-color-rgb: 0, 50, 200;
    --bs-link-hover-color: #0032c8;
    --bs-link-hover-color-rgb: 0, 50, 200;
    --bs-primary: 0,50,200;
    --bs-primary-rgb: 0,50,200;
    --bs-light-rgb: 237,247,230;
    --bs-primary-border-subtle: #b8c8f6;
    --font-heading: Albra,serif;
}
.btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-border-radius: 50rem;
}
.btn-primary {
    --bs-btn-bg: #0032c8;
    --bs-btn-border-color: #0032c8;
    --bs-btn-hover-bg: #002cae;
    --bs-btn-hover-border-color: #002697;
    --bs-btn-active-bg: #002697;
    --bs-btn-active-border-color: #002189;
    --bs-btn-disabled-bg: #0032c8;
    --bs-btn-disabled-border-color: #0032c8;
}
.btn-outline-primary {
    --bs-btn-color: #0032c8;
    --bs-btn-border-color: #0032c8;
    --bs-btn-hover-bg: #0032c8;
    --bs-btn-hover-border-color: #0032c8;
    --bs-btn-active-bg: #0032c8;
    --bs-btn-active-border-color: #0032c8;
    --bs-btn-disabled-color: #0032c8;
    --bs-btn-disabled-border-color: #0032c8;
}
.navbar {
    --bs-navbar-active-color: rgba(0,50,200,1);
}
.navbar-nav {
    --bs-nav-link-color: rgba(0,50,200,1);
    --bs-nav-link-hover-color: rgba(0,50,200,1);
}
.text-font-light-en {
    font-family: 'Albra','sans-serif';
}
.text-font-light-ja {
    font-family: 'SawarabiMincho-Regular','sans-serif';
}
.text-font-light-zh {
    font-family: 'Times New Roman', Times, serif,'sans-serif';
    font-weight:600;
}

#main-navbar-container .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
}
#main-navbar-container .navbar-nav .nav-link:hover,
#main-navbar-container .navbar-nav .nav-link:focus,
#main-navbar-container .navbar-nav .nav-link.active {
    color: rgba(0,50,200,1);
}
.jumbotron {
    padding: 2.5rem 0.5rem;
}

@media (min-width: 992px) {
    .jumbotron {
        padding: 5rem 20% 5rem;
    }
}
/* 全屏区域 */
.full-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: calc(-1 * var(--body-padding-top));
    left: 0rem;
    width: 100%;
    height: 100vh;
}

/* 动画 */
.animate__supper__slow {
    --animate-duration: 30s;
}

/* site keywords */
.site-keywords {
    position:relative;
    margin-top:3rem;
    margin-bottom:3rem;
}

/** 带有品牌LOGO的背景 */
.brand-bg {
    background-image: url(images/logo-use-for-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.site-keyword-item {
    position: relative;
    font-size: clamp(2rem, 5.41667vw, 7.375rem);
    letter-spacing: 0em;
    line-height: 1.25;
    text-transform: uppercase;
}
/* 图形背景，滚动页面时配合JS实现动画效果 */
.shape-background-area {
    /* 放置图形背景的区域，它是一个点位元素，没有样式效果 */
}
.shape-bg {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    position: fixed;
    bottom: -75%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.5s;
    z-index: -1;
}
.shape-brand-bg {
    width: 400px;
    height: 400px;
    background-color: #edf7e6;
    top: 50%;
    transform: translate(-50%, -50%);
}
.shape-white-bg {
    background-color: #fff;
}
.shape-black-bg {
    background-color: #000;
}
.shape-second-bg {
    background-color: #edf7e6;
}
/* OfficialWebSite Card */
.ows-card {
    overflow:hidden;
    border:none;
}
.ows-card img.card-img-top {
    transition: all .5s ease 0s;
}
.ows-card:hover img.card-img-top {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05)
}
.ows-card:hover a.underline-animate.fw-semibold {
    background-size: 100% 2px;
}
.ows-card .card-body > .card-title {
    padding-top: 0.5rem;
}
/* custom-section */
.custom-section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
@media (min-width: 992px) {
    .custom-section p.lead {
        margin-left:25%;
        max-width: 50%;
    }
}
.custom-brand-swiper .swiper-slide img{
    max-height:100px;
}
/** blog **/
.blog-post-card {
    height: 100%;
}
.blog-post-card .card-body{
    display: flex;
    flex-direction: column;
}

/** dignite-abp-module-item **/
.dignite-abp-module-item-card {
    height: 100%;
}
.dignite-abp-module-item-card .card-body {
    padding-bottom:1.5rem;
    display: flex;
    flex-direction: column;
}

/** work-entry */
.work-entry-background {
    position: relative;
    background-color: #000;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: all 0.75s;
}
.work-entry-background-overlay {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,.5);
    transition: all 0.75s;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
.work-entry-background-overlay-hidden {
    display:none;
}
.work-entry-background h1{
    font-size: clamp(2rem, 3vw, 4rem);
    font-weight:bold;
}
.work-entry-special .img-fluid {
    border-radius:2rem;
    border:solid 8px #000;
}
/** rich-text */
.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}
.rich-text p {
    font-size:1.125rem;
    line-height: 1.75rem;
}
.rich-text p:last-child {
    margin-bottom: 2.5rem;
}
.rich-text p img,
.rich-text figure.image img {
    max-width: 100%;
    border-radius:var(--bs-border-radius-lg);
}
.rich-text figure.table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.rich-text figure.table > table {
    width:100%;
}
.rich-text figure.table > table > :not(caption) > * > * {
    padding: 1rem 1rem;
    border-bottom-width: 1px;
    border-bottom-color:#d6d6d6;
}
.rich-text > ul {
    list-style: none;
    padding-left: .5rem;
}
.rich-text > ul > li {
    margin-bottom: .85rem;
    padding-left: 1.25rem;
    position: relative;
}
.rich-text > ul > li:before {
    display: block;
    position: absolute;
    top: -.2rem;
    left: 0;
    font-size: 1.15rem;
    font-weight: 700;
    content: '✓';
    color: #28a745;
}

/** social icon*/
.social-btn {
    display: inline-block;
    padding: 0px;
    line-height: 3rem;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
}

/**星空背景*/
.starry-sky-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    margin: -1rem 0 0 -1rem;
    background: #FFF;
    transform: scale(0);
    border-radius: 50%;
}

/* abp logo icon */
.abp-icon {
    display:block;
    width:28px;
    height:28px;
    background-image:url(images/abp-framework-logo.png);
    background-size:cover;
}

/* dignite-support-items */
.dignite-support-items > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dignite-support-items > ul > * {
    flex: 0 0 auto;
    width: 50%;
}
.dignite-support-items > ul > li > i {
    color: var(--bs-secondary-color);
}