@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions;
@using Dignite.Cms.Public.Web.Components.CultureSwitch;
@model CultureSwitchViewComponentModel
@if (Model.AllLanguages.Any())
{
    <div class="dropdown">
        <a class="btn" href="#" id="Menu_CultureSwitch" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="@Model.CurrentLanguage.DisplayName">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <small class="d-none d-lg-inline">
                @Model.CurrentLanguage.DisplayName
            </small>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Menu_CultureSwitch">
            @foreach (var language in Model.AllLanguages)
            {
                if (Model.CurrentLanguage.CultureName == language.CultureName)
                {
                    <span class="dropdown-item active">
                        @language.DisplayName
                    </span>
                }
                else
                {
                    var currentPageUrl = Context.Request.Path.Value;
                    if (language.CultureName.Equals(Model.Default.CultureName, StringComparison.OrdinalIgnoreCase))
                    {
                        currentPageUrl = currentPageUrl.EnsureEndsWith('/')
                        .RemovePreFix(StringComparison.OrdinalIgnoreCase, $"/{Model.CurrentLanguage.CultureName}/")
                        .RemovePreFix("/");
                    }
                    else
                    {
                        currentPageUrl = language.CultureName + currentPageUrl.EnsureEndsWith('/')
                        .RemovePreFix(StringComparison.OrdinalIgnoreCase, $"/{Model.CurrentLanguage.CultureName}/")
                        .EnsureStartsWith('/');
                    }
                    currentPageUrl = currentPageUrl.RemovePostFix("/") + Context.Request.QueryString.Value;
                    <a class="dropdown-item" href="~/@currentPageUrl">
                        @language.DisplayName
                    </a>
                }
            }
        </div>
    </div>
}
