<div class="row g-5 mt-4">
    <div class="col-4">
        <h3 class="mb-4">
            产品特点
        </h3>
        <ul class="icon-1">
            <li>
                提供范围广泛的塑料托盘系列
            </li>
            <li>
                耐用吹塑托盘系列
            </li>
            <li>
                防漏托盘系列
            </li>
            <li>
                坚固塑料托盘箱系列
            </li>
            <li>
                方便的塑料周转筐系列
            </li>
        </ul>
    </div>
    <div class="col-4">
        <h3 class="mb-4">
            产品优势
        </h3>
        <ul class="icon-1">
            <li>
                经久耐用的塑料托盘系列，可高效搬运和存储货物。
            </li>
            <li>
                吹塑托盘系列轻巧坚固，是便于运输和存放的理想选择。
            </li>
            <li>
                防漏托盘系列确保液体和半液体的无泄漏处理。
            </li>
            <li>
                塑料托盘箱系列，可为散装货物提供经济高效且卫生的存储解决方案。
            </li>
            <li>
                易清洁易保养的塑料周转筐、周转箱系列，适用于多种行业。
            </li>
        </ul>
    </div>
    <div class="col-4">
        <img src="/tenants/sdrx/our-services-4.jpg" class="rounded-3" />
    </div>
</div>