<div class="row g-5 mt-4">
    <div class="col-4">
        <h3 class="mb-4">
            Features
        </h3>
        <ul class="icon-1">
            <li>
                Wide range of plastic tray series available
            </li>
            <li>
                Durable blow molding tray series
            </li>
            <li>
                Anti-leakage tray series
            </li>
            <li>
                Sturdy plastic pallet box series
            </li>
            <li>
                Convenient plastic turnover basket series
            </li>
        </ul>
    </div>
    <div class="col-4">
        <h3 class="mb-4">
            Benefits
        </h3>
        <ul class="icon-1">
            <li>
                Durable and long-lasting plastic tray series for efficient handling and storage of goods.
            </li>
            <li>
                Blow molding tray series that are lightweight yet sturdy, ideal for easy transportation and storage.
            </li>
            <li>
                Anti-leakage tray series that ensure spill-free handling of liquids and semi-liquids.
            </li>
            <li>
                Plastic pallet box series that offer a cost-effective and hygienic storage solution for bulk goods.
            </li>
            <li>
                Plastic turnover basket and box series that are easy to clean and maintain, suitable for a variety of industries.
            </li>
        </ul>
    </div>
    <div class="col-4">
        <img src="/tenants/sdrx/our-services-4.jpg" class="rounded-3" />
    </div>
</div>