@using Dignite.Cms.Public.Web.TagHelpers;
@using Dignite.Abp.DynamicForms;
@using Dignite.FileExplorer.Files;
@using System.Text.Json;
@model EntryListViewModel


<nav class="nav bg-secondary bg-opacity-10 p-2 nav-aboutus">
    @foreach(var item in Model.Entries)
    {
        <a class="flex-sm-fill text-sm-center nav-link link-secondary" aria-current="page" href="@item.Url">@item.Title</a>
    }
</nav>