@using Dignite.Cms.Public.Web.TagHelpers;
@using Dignite.Abp.DynamicForms;
@using Dignite.FileExplorer.Files;
@using System.Text.Json;
@model EntryListViewModel

@foreach (var entry in Model.Entries)
{
    var fieldValue = entry.GetField("singleFile", null);
    FileDescriptorDto file = null;
    string imageUrl = null;
    if (fieldValue != null)
    {
        file = JsonSerializer.Deserialize<List<FileDescriptorDto>>(fieldValue.ToString())[0];
        imageUrl = $"/api/file-explorer/files/{file.ContainerName}/{file.BlobName}";
    }
    <div class="row g-5">
        <div class="col-5">
            <h4>@entry.Title</h4>
            <p class="text-secondary mb-1">
                Our commitment to providing reliable and efficient transportation solutions has earned us the trust and lovalty of our customers.
            </p>
            <a href="@entry.Url" class="icon-animated icon-animate-right">Read more</a>
        </div>
        <div class="col-7">
            <img src="@imageUrl" class="img-fluid">
        </div>
    </div>
}