@using Dignite.Cms.Public.Web.TagHelpers;
@using Dignite.Abp.DynamicForms;
@using Dignite.FileExplorer.Files;
@using System.Text.Json;
@using Dignite.Cms.Public.Web.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<CmsResource> localizer;
@model EntryListViewModel

@foreach (var entry in Model.Entries)
{
    var fieldValue = entry.GetField("singleFile", null);
    var content = entry.GetField<string>("multilineText", null);
    FileDescriptorDto file = null;
    string imageUrl = null;
    if (fieldValue != null)
    {
        file = JsonSerializer.Deserialize<List<FileDescriptorDto>>(fieldValue.ToString())[0];
        imageUrl = $"/api/file-explorer/files/{file.ContainerName}/{file.BlobName}";
    }
    <div class="row g-5">
        <div class="col-6">
            <h4>@entry.Title</h4>
            <p class="text-secondary mb-1">
                @content
            </p>
            <a href="@entry.Url" class="icon-animated icon-animate-right">@localizer["ReadMore"]</a>
        </div>
        <div class="col-6">
            <img src="@imageUrl" class="img-fluid">
        </div>
    </div>
}