@using Dignite.Abp.DynamicForms.Select;
@using Dignite.Abp.FieldCustomizing;
@using Dignite.Cms.Public.Web.TagHelpers;
@using Dignite.Abp.DynamicForms;
@using Dignite.Cms.Public.Sections;
@using Dignite.FileExplorer.Files;
@using System.Text.Json;
@using System.Text.Encodings.Web;
@model SectionDto

@{
    var language = Context.Request.Path.Value.Substring(1).Split('/')[0];
    var categoryField = Model.EntryTypes.First().FieldTabs.First().Fields.First(f => f.Field.Name == "category");
    SelectConfiguration configuration = new SelectConfiguration(categoryField.Field.FormConfiguration);
}

    <ul class="list-group list-group-flush">
        @foreach(var item in configuration.Options)
        {
            var queryParams = new List<QueryingByFieldParameter>{
                new QueryingByFieldParameter("category", item.Value)
            };
            var urlParams = System.Web.HttpUtility.UrlEncode(
                JsonSerializer.Serialize<List<QueryingByFieldParameter>>(queryParams, new JsonSerializerOptions()),
                System.Text.Encoding.UTF8
            );

            <li class="list-group-item ps-5">
                <a href="~/@language/products?query=@urlParams">
                    @item.Text
                </a>
            </li>
        }
    </ul>