
* {
    transition: all .5s ease 0s
}
body {
    letter-spacing:0.1rem;
}
a {
    transition: all .25s linear;
    text-decoration:none;
}
    a:hover {
        text-decoration-line: underline;
        text-underline-offset: 0.25em !important;
    }
a:focus {
    outline: dashed 1px #888
}
.btn-outline-dark:hover {
    color: #f3ae09;
}
ul.main-navbar-nav li.nav-item a.nav-link {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 1px #fff;
}
    ul.main-navbar-nav li.nav-item a.nav-link:hover {
        text-underline-offset: 0.375em !important;
    }


.carousel-control-prev,
.carousel-control-next {
    width: 35px;
    height: 35px;
    left: auto;
    top: -45px;
    border:1px solid #000;
    color:#000;
}
.carousel-control-prev {
    left: auto;
    right: 45px;
}
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
    background-color: #000;
    color: #f3ae09;
}

.carousel-control-next-bottom {
    top: auto;
    bottom:15px;
    right:15px;
}
.carousel-control-prev-bottom {
    top: auto;
    bottom: 15px;
    right: 60px;
}

.image-clip {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.footer-container {
    background-color: #0050a1;
    padding: 3rem 0rem;
}
.content img{
    max-width:100%
}

.map {
    width: auto;
    height: 300px
}
@media screen and (min-width: 992px) {

    .map {
        width: 100%;
        height: 603px
    }
}
.nav-aboutus a{
    border-right:1px solid #ddd;
}
.nav-aboutus a:last-child {
    border-right: none;
}