@page
@using Microsoft.Extensions.Localization
@using Dignite.Cms.Localization
@using Dignite.Cms.Public.Web.Pages.Cms
@model Dignite.Cms.Public.Web.Pages.Cms.IndexModel
@inject IStringLocalizer<CmsResource> L

@{
}
<h1>Cms</h1>
<p>@L["SamplePageMessage"]</p>
