@{
    var language = Context.Request.Path.Value.Substring(1).Split('/')[0];
}
<div class="container-fluid mt-5 footer-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card bg-transparent border-0">
                    <div class="card-header bg-transparent border-0 text-white-50">
                        Products
                    </div>
                    <ul class="list-group d-flex flex-row flex-wrap">
                        <li class="list-group-item border-0 bg-transparent text-white w-50">Plastic tray</li>
                        <li class="list-group-item border-0 bg-transparent text-white w-50">Blow molding tray</li>
                        <li class="list-group-item border-0 bg-transparent text-white w-50">Leak-proof tray</li>
                        <li class="list-group-item border-0 bg-transparent text-white w-50">Plastic pallet box</li>
                        <li class="list-group-item border-0 bg-transparent text-white w-50">Plastic turnover basket</li>
                        <li class="list-group-item border-0 bg-transparent text-white w-50">Plastic turnover box</li>
                        <li class="list-group-item border-0 bg-transparent text-white w-50">Plastic parts box</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card bg-transparent border-0">
                    <div class="card-header bg-transparent border-0 text-white-50">
                        About us
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0 bg-transparent text-white">
                            <a class="nav-link" href="~/@language/about-us/introduction" id="MenuItem_Cms">
                                Company introduction
                            </a>
                        </li>
                        <li class="list-group-item border-0 bg-transparent text-white">
                            
                            <a class="nav-link" href="~/@language/about-us/production-capacity" id="MenuItem_Cms">
                                Production capacity
                            </a>
                        </li>
                        <li class="list-group-item border-0 bg-transparent text-white">                            
                            <a class="nav-link" href="~/@language/about-us/partner" id="MenuItem_Cms">
                                Partners
                            </a>
                        </li>
                        <li class="list-group-item border-0 bg-transparent text-white">                            
                            <a class="nav-link" href="~/@language/about-us/certifications" id="MenuItem_Cms">
                                Certifications
                            </a>
                        </li>
                        <li class="list-group-item border-0 bg-transparent text-white">
                            <a class="nav-link" href="~/@language/about-us/company-culture" id="MenuItem_Cms">
                                Company culture
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="card bg-transparent border-0">
                    <div class="card-header bg-transparent border-0 text-white-50">
                        Rongxin
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0 bg-transparent text-white">                            
                            <a class="nav-link" href="~/@language/news" id="MenuItem_Cms">
                                News
                            </a>
                        </li>
                        <li class="list-group-item border-0 bg-transparent text-white">                            
                            <a class="nav-link" href="~/@language/service-and-support" id="MenuItem_Cms">
                                Service and support
                            </a>
                        </li>
                        <li class="list-group-item border-0 bg-transparent text-white">
                            <a class="nav-link" href="~/@language/contact" id="MenuItem_Cms">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <img src="~/sdrx/qrcode.jpg" class="img-fluid" style="max-width:200px;" />
            </div>
        </div>
        <hr />
        <div class="d-flex">
            <ul class="list-inline text-white">
                <li class="list-inline-item">Copyright©@DateTime.Now.Year</li>
                <li class="list-inline-item">Shandong Rongxin Plastic Industry Co., Ltd.</li>
                <li class="list-inline-item"><a href="http://beian.miit.gov.cn" class="text-reset text-decoration-none">鲁ICP备2023007920号</a></li>
            </ul>
            <ul class="list-inline text-white ms-auto">
                <li class="list-inline-item">Web Design By <a href="http://dignite.com" class="text-reset text-decoration-none">Dignite</a></li>
            </ul>
        </div>
    </div>    
</div>